<h2 mat-dialog-title>How it Works</h2>
<mat-dialog-content class="mat-typography">
	<p>The Decent Samples plugin is a FREE sample player plugin that allows you to play sample libraries in the DecentSampler format (files with extensions: dspreset and dslibrary). You can download the plugin, support it development and learn about all its features at <a href="https://www.decentsamples.com/" target="_blank">decentsamples.com</a></p>
	<p>Decent Sampler Editor is a project in development, many functionalities might not be implemented yet and will be added in the future</p>
	<p>For now you can create and export your preset.dspreset file ready to use, you just need to make sure your samples are in the right directory.</p>
	<p>You can download a boilerplate preset <a href="/assets/dspreset-boilerplate.zip" target="_blank">here</a>, extract it, replace the preset.dspreset file with the one you can get from the editor and add your samples to the /samples folder </p>
	<p>More detailed instructions on how to use the editor will be coming soon</p>
	<br>
	<p>If you have more questions, you can reach me out via Discord @nocturnx#7086</p>
</mat-dialog-content>