



section.editor-container {
    max-width: 1320px;
    margin: 20px auto 50px;
    padding: 20px;
    box-sizing: content-box;
    background: whitesmoke;
    border-radius: 13px;
    box-shadow: 0 10px 20px 0px rgb(0 0 0 / 25%);
}


.header-container {
    display: block;
    max-width: 1350px;
    margin: 0 auto;
}

.header-container h1 {
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 44px;
}