



section.editor-container {
    max-width: 1320px;
    margin: 20px auto 50px;
    padding: 20px;
    box-sizing: content-box;
}


.header-container {
    display: block;
    max-width: 1350px;
    margin: 0 auto;
}

.header-container h1 {
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 44px;
}