.section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    .mat-mdc-card-header {
        flex: 0 0 100%;
    }
}


.ui-display {
    border: 1px solid;
    margin: 20px;
    position: relative;
    background-image: url(../../../assets/bg.png);
    background-size: 100%;
    
}
.example-handle {
    position: absolute;
    opacity: 0;
    transition: all 250ms;
    width: 100%;
    bottom: -22px;
    transform: scale(0.2);
    svg {
        width: 100%;
        opacity: 0.6;
    }
}
.ui-button {
    position: absolute;
    transition: all 50ms ease;
    width: 90px;
    height: 90px;
    &:hover .example-handle {
        opacity: 1;
        transform: scale(0.4);
    }
    .knob {
        padding: 16px 0 0;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        font-family: sans-serif;
        display: block;
        label {
            display: block;
            line-height: 20px;
        }
        svg {
            width: 55px;
            height: auto;
        }
    }
}



.align-icons .mat-expansion-panel-header-description {
    justify-content: flex-end;
    margin-right: 0;
    //flex-grow: 0;
}

.group-elements {
    display: block;
    width: 100%;
}





[aria-label] {
    position: relative;
}

[aria-label]:hover:after {
    transform: scale(1);
    opacity: 1;
    transition: 0.1s 0.5s ease;
}

[aria-label]:after {
    content: attr(aria-label);
    position: absolute;
    //bottom: -40px;
    //left: 50%;
    padding: 4px 8px;
    margin-left: 20px;
    background: #616161;
    color: white;
    border-radius: 4px;
    font-size: 12px;
    font-family: RobotoDraft, Roboto, Arial;
    font-weight: 500;
    z-index: 9999;
    min-width: 200px;
    transform: scale(0.8);
    transform-origin: center center;
    transition: 0.1s  ease;
    width: auto;
    opacity: 0;
}


