<form [formGroup]="editorForm" (submit)="submitForm(editorForm.value)">
    <mat-card class="section">
        <mat-card-header>
            <mat-card-title>UI</mat-card-title>
        </mat-card-header>
        <div class="ui-properties">
            <div formGroupName="uiProperties">
                <mat-card-header>
                    <mat-card-subtitle>UI Properties</mat-card-subtitle>
                </mat-card-header>
                
                <mat-form-field matTooltip="Disabled temporarily"  matTooltipPosition="above">
                    <mat-label>Width</mat-label>
                    <!-- <input matInput formControlName="width"  type="number" placeholder="default: 812" value="812"> -->
                    <input matInput type="number" placeholder="default: 812" formControlName="width">
                </mat-form-field>
                
                <mat-form-field matTooltip="Disabled temporarily"  matTooltipPosition="above">
                    <mat-label>Height</mat-label>
                    <!-- <input matInput formControlName="height"  type="number" placeholder="default: 375" value="375"> -->
                    <input matInput type="number" placeholder="default: 375" formControlName="height">
                </mat-form-field>
            </div>

            <ng-container formArrayName="ui" class="ui-elements">
                <mat-card-header>
                    <mat-card-subtitle>UI Elements</mat-card-subtitle>
                </mat-card-header>
                    <button mat-icon-button color="primary" [matMenuTriggerFor]="addUI" aria-label="add element to ui">
                        <mat-icon>add</mat-icon>
                    </button>
                    <mat-menu #addUI="matMenu">
                        <button mat-menu-item (click)="addElement('knob', 'ui')">Knob</button>
                        <button mat-menu-item (click)="addElement('keyboard', 'ui')">Key Color</button>
                    </mat-menu>                
                <mat-accordion class="example-headers-align">
                    <ng-container *ngFor="let element of  editorForm.get('ui')['controls']; let i = index">
                        <script>
                            jscolor.install()
                        </script>
                        <mat-expansion-panel [formGroupName]="i" (opened)="displayPicker()" (closed)="submitForm(editorForm.value)" hideToggle>
                            <mat-expansion-panel-header class="align-icons">
                                <mat-panel-title><b>{{i}} </b>- Type: {{editorForm.value.ui[i].properties.label || editorForm.value.ui[i].type}}</mat-panel-title>
                                <mat-panel-description>

                                    <button mat-icon-button (click)="accordion.closeAll()" ><mat-icon>save</mat-icon></button>

                                    <button mat-icon-button (click)="deleteItem(i, 'ui')"><mat-icon>delete_forever</mat-icon></button>
                                </mat-panel-description>

                            </mat-expansion-panel-header>
                                <div *ngFor="let item of editorForm.value.ui[i].properties | keyvalue; let i = index;">
                                    <div formGroupName="properties">
                                        <div [ngSwitch]="checkType(item.value)">
                                            <div *ngSwitchCase="'object'">
                                                <div formGroupName="">
                                                    <label>Binding</label>
                                                    <div *ngFor="let bind of item.value | keyvalue; let i = index;">
                                                        <mat-form-field>
                                                            <mat-label>{{bind.key}}</mat-label>
                                                            <input matInput id="i" type="text" formControlName="{{bind.key}}">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div *ngSwitchCase="'string'">
                                                <div [ngSwitch]="item.key">
                                                    <mat-form-field *ngSwitchCase="'color'">
                                                        <mat-label>{{item.key}}</mat-label>
                                                        <input matInput id="i" type="text" formControlName="{{item.key}}" data-jscolor="{preset: 'dark', hash: false}">
                                                    </mat-form-field>

                                                    <mat-form-field *ngSwitchDefault>
                                                        <mat-label>{{item.key}}</mat-label>
                                                        <input matInput id="i" type="text" formControlName="{{item.key}}">
                                                    </mat-form-field>                 
                                                </div>
                                            </div>
                                            
                                            <mat-form-field *ngSwitchCase="'number'">
                                                <mat-label>{{item.key}}</mat-label>
                                                <input matInput id="i" type="number" step=".1" formControlName="{{item.key}}">  
                                            </mat-form-field>
                                        
                                            <mat-form-field *ngSwitchDefault>
                                                <mat-label>{{item.key}}</mat-label>
                                                <input matInput id="i" type="text" formControlName="{{item.key}}">
                                            </mat-form-field>                
                                            

                                        </div>
                                    </div>
                                </div>
                            



                        </mat-expansion-panel>
                        
                    </ng-container>
                </mat-accordion>
                

            </ng-container>
        </div>

    
        



        <div class="ui-display" [style.width]="uiDisplayx+'px'" [style.height]="uiDisplayy - 35 +'px'" >
            <div *ngFor="let c of editorForm.value.ui; let i=index;">
            <div [ngSwitch]="c.type">
                    <div *ngSwitchCase="'knob'">
                        <div class="ui-button" 
                            id="{{i}}" 
                            cdkDrag 
                            cdkDragBoundary=".ui-display"
                            (cdkDragEnded)="dragEnd($event)"
                            [cdkDragFreeDragPosition]="{x: c.properties.x, y: c.properties.y }"

                            >
                            <div class="example-handle">
                                <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                                <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                                <path d="M0 0h24v24H0z" fill="none"></path>
                                </svg>
                            </div>
                            <div class="knob">
                                
                                <label>{{c.properties.label}}</label>
                                <svg width="101" height="100" viewBox="0 0 101 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_6_60)">
                                <rect width="90" height="90" rx="50" fill="#DFDFDF"/>
                                <path d="M51.3598 79.0194L80.2224 101.155L22.4714 101.121L51.3598 79.0194Z" fill="black"/>
                                <g style="mix-blend-mode:darken">
                                <path d="M95.5 50C95.5 74.5252 75.4045 94.5 50.5 94.5C25.5955 94.5 5.5 74.5252 5.5 50C5.5 25.4748 25.5955 5.5 50.5 5.5C75.4045 5.5 95.5 25.4748 95.5 50Z" stroke="#D1CECE" stroke-width="11"/>
                                </g>
                                <path d="M92 50C92 72.6437 73.4198 91 50.5 91C27.5802 91 9 72.6437 9 50C9 27.3563 27.5802 9 50.5 9C73.4198 9 92 27.3563 92 50Z" fill="white"/>
                                <path d="M92 50C92 72.6437 73.4198 91 50.5 91C27.5802 91 9 72.6437 9 50C9 27.3563 27.5802 9 50.5 9C73.4198 9 92 27.3563 92 50Z" stroke="white"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_6_60">
                                <rect width="101" height="100" rx="50" fill="white"/>
                                </clipPath>
                                </defs>
                                </svg>

                            </div></div>
                    </div>

                    <div *ngSwitchDefault>
                        <!-- display nothing if its not in the list -->
                    </div>
            </div>
            </div>
         <app-piano-roll></app-piano-roll>

        </div>




    </mat-card>
    
    <mat-card class="section">
        <mat-card-header>
            <mat-card-title>Samples</mat-card-title>
        </mat-card-header>

        <button mat-icon-button color="primary" [matMenuTriggerFor]="addSample" aria-label="add element to ui">
            <mat-icon>add</mat-icon>
        </button>
        <mat-menu #addSample="matMenu">
            <button mat-menu-item (click)="addElement('sample', 'groups')">Sample</button>
        </mat-menu>

        <br>

        <section formArrayName="groups" class="group-elements">
            <mat-accordion class="example-headers-align">
                <ng-container *ngFor="let element of  editorForm.get('groups')['controls']; let i = index">
                    <mat-expansion-panel [formGroupName]="i" (closed)="submitForm(editorForm.value)" hideToggle>
                        <mat-expansion-panel-header class="align-icons">
                            <mat-panel-title><b>{{i}} </b>- Path: {{editorForm.value.groups[i].properties.path}}</mat-panel-title>
                            <mat-panel-description>

                                <button mat-icon-button (click)="accordion.closeAll()" ><mat-icon>save</mat-icon></button>

                                <button mat-icon-button (click)="deleteItem(i, 'groups')"><mat-icon>delete_forever</mat-icon></button>
                            </mat-panel-description>

                        </mat-expansion-panel-header>
                            <div *ngFor="let item of editorForm.value.groups[i].properties | keyvalue; let i = index;">
                                <div formGroupName="properties">
                                    <div [ngSwitch]="checkType(item.value)">
                                        
                                        <mat-form-field *ngSwitchCase="'number'">
                                            <mat-label>{{item.key}}</mat-label>
                                            <input matInput id="i" type="number" step="1" min="0" formControlName="{{item.key}}">  
                                        </mat-form-field>
                                    
                                        <mat-form-field *ngSwitchDefault>
                                            <mat-label>{{item.key}}</mat-label>
                                            <input matInput id="i" type="text" formControlName="{{item.key}}">
                                        </mat-form-field>                
                                        

                                    </div>
                                </div>
                            </div>
                        



                    </mat-expansion-panel>
                    
                </ng-container>
            </mat-accordion>

        </section>


    </mat-card>

    <mat-card class="section">
        <mat-card-header>
            <mat-card-title>Effects</mat-card-title>
        </mat-card-header>
    
        <button mat-icon-button color="primary" [matMenuTriggerFor]="addEffect" aria-label="add element to ui">
            <mat-icon>add</mat-icon>
        </button>
        <mat-menu #addEffect="matMenu">
            <button mat-menu-item (click)="addElement('reverb', 'effects')">Reverb</button>
        </mat-menu>
    
        <br>
    
        <section formArrayName="effects" class="group-elements">
            <mat-accordion class="example-headers-align">
                <ng-container *ngFor="let element of  editorForm.get('effects')['controls']; let i = index">
                    <mat-expansion-panel [formGroupName]="i" (closed)="submitForm(editorForm.value)" hideToggle>
                        <mat-expansion-panel-header class="align-icons">
                            <mat-panel-title><b>{{i}} </b>- Reverb</mat-panel-title>
                            <mat-panel-description>
    
                                <button mat-icon-button (click)="accordion.closeAll()"><mat-icon>save</mat-icon></button>
    
                                <button mat-icon-button
                                    (click)="deleteItem(i, 'effects')"><mat-icon>delete_forever</mat-icon></button>
                            </mat-panel-description>
    
                        </mat-expansion-panel-header>
                        <div *ngFor="let item of editorForm.value.effects[i].properties | keyvalue; let i = index;">
                            <div formGroupName="properties">
                                <div [ngSwitch]="checkType(item.value)">
    
                                    <mat-form-field *ngSwitchCase="'number'">
                                        <mat-label>{{item.key}}</mat-label>
                                        <input matInput id="i" type="number" step=".1" max="1" min="0" formControlName="{{item.key}}">
                                    </mat-form-field>
    
                                    <mat-form-field *ngSwitchDefault>
                                        <mat-label>{{item.key}}</mat-label>
                                        <input matInput id="i" type="text" formControlName="{{item.key}}">
                                    </mat-form-field>
    
    
                                </div>
                            </div>
                        </div>
    
    
    
    
                    </mat-expansion-panel>
    
                </ng-container>
            </mat-accordion>
    
        </section>
    
    
    </mat-card>
    
    <mat-card>
        <mat-card-actions align="end">
                
            <button mat-stroked-button color="secondary" (click)="accordion.closeAll()" id="submit" type="submit">Update Code</button>            

            <a mat-stroked-button color="primary" [href]="fileUrl" download="file.dspreset" (click)="fileDownload()">Download .dsPreset</a>
        </mat-card-actions>
    </mat-card>

    

</form>

<pre>
<mat-card>
  <code [highlight]="" id="result"></code>
</mat-card>
</pre>
